/* Resets all default margins */
* {
    margin: 0%;
    background-color: #283138;
}
/* Styling for header */
.header{
    display: grid;
    /* grid-template-columns: .5fr 1fr 1fr 1fr 1fr 3fr; */
    grid-template-columns: .2fr 1fr 4.9fr 1fr .5fr 1fr 1fr;
    background-color: #283138;
    font-size: 60px;    
    position: relative;
    color: white;
    padding: 20px;
}
/* Header Text Styling */
.header-text{
    position: relative;
    top: 30px;
    background: none;
}

/* Changing colour for hyperlinks */
a{
    color: white;
    text-decoration: none;
}

/* Styling for Hero section, will improve next sprint */
.hero.trail{
    background-color: blueviolet;
}
/* Styling for the code being displayed */
.code-display{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #1D1F27;
    color: white;
}
/* Styling for the code description */
.code-description{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #1D1F27;
    color: white;
}
/* Styling for the footer */
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #283138;
    text-align: center;
    color: white;
}
/* Styling for footer title */
.footer-title h1{
    font-size: 60px;
}
/* Styling for the hyperlinks in the footer */
.footer-href{
    position: relative;
    font-size: 60px;
}