<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>12DTM Project Website</title>
</head>
<body>
    <!-- Header Goes Here -->
    <header>
        <div class="header">
            <div></div>
            <div><a href="home.html">12DTM WEBSITE</a></div>
            <div></div>
            <div class="header-text"><a href="code.html">CODE</a></div>
            <div></div>
            <div class="header-text"><a href="about.html">ABOUT</a></div>   
            <div></div>
        </div>
    </header>
    <!-- Header Ends Here -->
    <br>
    <!-- Code display goes here -->
    <div class = code-display>
        <div></div>
        <div class="code-display-text">
            <h1>Code title</h1>
            <h3>code goes here</h3>
            </div>
        <div></div>
    </div>
    <!-- Code display ends here -->
    <!-- Code description section goes here -->
    <div class="code-description">
        <div></div>
        <div class="code-description-text">
            <h2>Code Description Title</h2>
            <p>Code Description goes here</p>
        </div>
        <div></div>
    </div>
    <!-- Code description section ends here -->
    <!-- Footer starts here -->
    <div class="footer">
        <div class="footer-title">
            <h1>12DTM <br> Project</h1>
            <p>By Johannes Mira-ato</p>
        </div>
        <div>
            <h1>Contact me: <br> 21401@burnside.school.nz</h1>
            <div>Button Goes Here</div> 
        </div>
        <div>
            <a href="code.html" class="footer-href">Code</a>
            <br><br><br>
            <a href="about.html" class="footer-href">About</a>
        </div> 
    </div>
    <!-- Footer ends here -->

</body>
</html>