<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>12DTM Project Website</title>
</head>
<body>
    <!-- Header Goes Here -->
    <header>
        <div class="header">
            <div></div>
            <div><a href="home.html">12DTM WEBSITE</a></div>
            <div></div>
            <div class="header-text"><a href="code.html">CODE</a></div>
            <div></div>
            <div class="header-text"><a href="about.html">ABOUT</a></div>       
            <div></div>
        </div>
    </header>
    <!-- Header Ends Here -->
    <!-- Cursor trail hero section goes here -->
        <div class="hero-rectangle">
            <!-- Cursor Trail Code from https://www.youtube.com/watch?v=g33XyH8BDuM -->
            <script>
                // Mapping to store cursor position
                const dots = []
                const cursor = {
                x: 0,
                y: 0,
                };

                // Create dot elemnts
                for (let i=0;i<40;i++){
                    const dot =
                    document.createElement("div");
                    dot.className = "dot";
                    document.body.appendChild(dot);
                    dots.push(dot);
                }
                
                document.addEventListener("mousemove", 
                (e)=>{
                    cursor.x = e.clientX;
                    cursor.y = e.clientY;
                    console.log(cursor);
                });

                function draw(){
                    let x = cursor.x
                    let y = cursor.y

                    dots.forEach((dot, index)=>{
                        const nextDot = dots[index+1]||
                        dots[0];

                        dot.style.left = x + "px";
                        dot.style.top = y + "px";

                        x+=(nextDot.offsetLeft - dot.offsetLeft)*0.5;
                        y+=(nextDot.offsetTop - dot.offsetTop)*0.5;
                    })
                }
                setInterval(draw, 10)
            </script>
        </div>
    <!-- Cursor trail hero section ends here -->
   
    <!-- Footer starts here -->
    <div class="footer">
        <div class="footer-title">
            <h1>12DTM <br> Project</h1>
            <p>By Johannes Mira-ato</p>
        </div>
        <div>
            <h1>Contact me: <br> 21401@burnside.school.nz</h1>
            <div>Button Goes Here</div> 
        </div>
        <div>
            <a href="code.html" class="footer-href">Code</a>
            <br><br><br>
            <a href="about.html" class="footer-href">About</a>
        </div> 
    </div>
    <!-- Footer ends here -->
</body>
</html>